body{
    background-color: powderblue;
}
hr{
    border-color: black;
    border-style: none;
    border-top-style: dotted;
    width: 50%;
    border-width: 4px;
    /* size: 4px; */
}
h1{
    color: crimson;
}
h3{
    color: orangered;
}
img{
    background-color: purple;
    width: 160px;
}
.exampleClass{
    background-color:chocolate;
}
#exampleId{
    background-color: slateblue;
}
#theMoon{
    background-color: turquoise;
}
.hoverableImage:hover{
    background-color: chartreuse;
}
.Blue{
    width:20px;
    height:20px;
    background-color: blue;
    display: block;

}
.Blue:hover{
    position:absolute;
    left:90%;
}
.red{
    margin:10px;
    width: 20px;
    height: 20px;
    background-color: red;
    display: block;
}
.red:hover{
    position: relative;
    left:30px;
}